{% extends "page_with_submenu.html" %}

{% block pagecontent %}

<br/>

<div class="row">
  <div class="span12">   
    {% if expform.instance.abbrev %}
      <legend>Edit Experiment {{expform.instance.abbrev}}</legend>
    {% else %}
      <legend>Edit New Experiment</legend>
    {% endif %}
  </div>
</div>

{% if expform.errors%} 
    <div class="row">
        <div class="offset2 span8">
            <div class="alert alert-error ">
              {% if expform.non_field_errors %}
                <p>{{ expform.non_field_errors }}</p>
              {% else %}
                <p> Please correct the marked fields</p>
              {% endif %}
            </div>
        </div>
    </div>
{% endif %}

<br/>
  
<div class="row">
  <div class="span4 offset4">
    <form action="{{ urls.expedit }}" method="POST" class="form-horizontal well">
    {% csrf_token %}
            
            <div>
              {% if expform.abbrev.errors %}
                {% for error in expform.abbrev.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="abbrev"{% if expform.name.errors %} class="error" {% endif %}>Abbreviation</label>
              </p>
              <p>{{ expform.abbrev }}</p>
            </div>
            
            <div>
              {% if expform.title.errors %}
                {% for error in expform.title.errors %} 
                    <p class="error"> 
                      {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="title"{% if expform.title.errors %} class="error" {% endif %}>Title</label>
              </p>
              <p>{{ expform.title }}</p>
            </div>
            
            <div>
              {% if expform.author.errors %}
                {% for error in expform.author.errors %} 
                    <p class="error"> 
                      {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="author"{% if expform.author.errors %} class="error" {% endif %}>Author</label>
              </p>
              <p>{{ expform.author }}</p>
            </div>
            
            <div>
              {% if expform.project.errors %}
                {% for error in expform.project.errors %} 
                    <p class="error"> 
                      {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="project"{% if expform.project.errors %} class="error" {% endif %}>Project</label>
              </p>
              <p>{{ expform.project }}</p>
            </div>
            
            <div>
              {% if expform.description.errors %}
                {% for error in expform.description.errors %} 
                    <p class="error"> 
                      {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="description"{% if expform.description.errors %} class="error" {% endif %}>Description</label>
              </p>
              <p>{{ expform.description }}</p>
            </div>
            
            <div>
              {% if expform.rationale.errors %}
                {% for error in expform.rationale.errors %} 
                    <p class="error"> 
                      {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="rationale"{% if expform.rationale.errors %} class="error" {% endif %}>Rationale</label>
              </p>
              <p>{{ expform.rationale }}</p>
            </div>
            
            <div>
              {% if expform.control.errors %}
                {% for error in expform.control.errors %} 
                    <p class="error"> 
                      {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="control"{% if expform.control.errors %} class="error" {% endif %}>Control?</label>
              </p>
              <p>{{ expform.control }}</p>
            </div>
            
            <div>
              {% if expform.requirements.errors %}
                {% for error in expform.requirements.errors %} 
                    <p class="error"> 
                      {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="reqs"{% if expform.requirements.errors %} class="error" {% endif %}>Associated requirements</label>
              </p>
              <p>{{ expform.requirements }}
              <a class="btn" data-toggle="modal" href="#myModal" >Add new requirement</a>
              </>
            </div>
          
          <br/>      
          <div class="actions">
            <button name="cancel" type="submit" value="Cancel" class="btn btn-block">Cancel</button>
            <button type="submit" name="expform" class="btn btn-primary btn-block">Save changes</button>
          </div>
      </form>
    </div>
  </div>
  

<div class="modal hide" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add new requirement</h3>
  </div>
  <div class="modal-body">
    <form class="ajax" method="POST" action="{{ urls.reqedit }}">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    {{ reqform.name }}
                </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="docid">Doc ID</label>
                <div class="controls">
                  {{ reqform.docid }}
                </div>
            </div> 
            <div class="control-group">
                <label class="control-label" for="reqtype">Requirement Type</label>
                <div class="controls">
                    {{ reqform.reqtype }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    {{ reqform.description }}
                </div>
            </div>
	        <div class="actions">
	            <input class="btn btn-primary" name="reqform" type="submit" value="Submit" />
	            <a class="btn close-dialog" href="#">Cancel</a>
	        </div>
        </fieldset>
    </form>
  </div>
</div>
  
 
{% endblock %}
