{% extends "page_with_submenu.html" %}

{% block pagecontent %}

<br/>

<div class="row">
  <div class="span12">   
    {% if reqform.instance.abbrev %}
      <legend>Edit Requirement {{reqform.instance.abbrev}}</legend>
    {% else %}
      <legend>Edit New Requirement</legend>
    {% endif %}
  </div>
</div>

{% if reqform.errors%} 
    <div class="row">
        <div class="offset2 span8">
            <div class="alert alert-error ">
              {% if reqform.non_field_errors %}
                <p>{{ reqform.non_field_errors }}</p>
              {% else %}
                <p> Please correct the marked fields</p>
              {% endif %}
            </div>
        </div>
    </div>
{% endif %}

<br/>
     
  <div class="row">
    <div class="offset4 span4">
      <form action="{{ urls.reqedit }}" method="POST" class="form-horizontal well">
        {% csrf_token %}
           
            <div>
              {% if reqform.name.errors %}
                {% for error in reqform.name.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="name"{% if reqform.name.errors %} class="error" {% endif %}>Name</label>
              </p>
              <p>{{ reqform.name }}</p>
            </div>
            
            <div>
              {% if reqform.docid.errors %}
                {% for error in reqform.docid.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="docid"{% if reqform.docid.errors %} class="error" {% endif %}>Doc ID</label>
              </p>
              <p>{{ reqform.docid }}</p>
            </div> 
            
            <div>
              {% if reqform.reqtype.errors %}
                {% for error in reqform.reqtype.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="reqtype"{% if reqform.rectype.errors %} class="error" {% endif %}>Requirement Type</label>
              </p>
              <p>{{ reqform.reqtype }}</p>
            </div>          
            
            <div>
              {% if reqform.description.errors %}
                {% for error in reqform.description.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="description"{% if reqform.description.errors %} class="error" {% endif %}>Description</label>
              </p>
              <p>{{ reqform.description }}</p>
            </div>
          
          <br/>      
          <div class="actions">
            <button name="cancel" type="submit" value="Cancel" class="btn btn-block">Cancel</button>
            <button type="submit" name="reqform" class="btn btn-primary btn-block">Save changes</button>
          </div>
          
      </form>
    </div>
  </div>
    
{% endblock %}
