{% extends "two_column_page_wideleft.html" %}

{% block page_top_menu %}
    
    {% include 'pagemenu.html' %}
    
    <div class="page-header">   
      {% if reqform.instance.abbrev %}
        <h3>Edit Requirement <strong>{{reqform.instance.abbrev}}</strong></h3>
      {% else %}
        <h3>Edit New Requirement</h3>
      {% endif %}
    </div>
    
    {% if reqform.errors%} 
      <div class="row">
        <div class="offset1 span10">
            <div class="alert alert-error ">
              {% if reqform.non_field_errors %}
                <p>{{ reqform.non_field_errors }}</p>
              {% else %}
                <p> Please correct the marked fields</p>
              {% endif %}
            </div>
        </div>
      </div>
    {% endif %}
  
{% endblock %}


{% block page_column_one %}

  <div class="row">
      <form action="{{ urls.reqedit }}" method="POST" class="form-horizontal">
        {% csrf_token %}
           
            <div>
              {% if reqform.name.errors %}
                {% for error in reqform.name.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="name"{% if reqform.name.errors %} class="error" {% endif %}>Name</label>
              </p>
              <p>{{ reqform.name }}</p>
            </div>
            
            <div>
              {% if reqform.docid.errors %}
                {% for error in reqform.docid.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="docid"{% if reqform.docid.errors %} class="error" {% endif %}>Doc ID</label>
              </p>
              <p>{{ reqform.docid }}</p>
            </div> 
            
            <div>
              {% if reqform.reqtype.errors %}
                {% for error in reqform.reqtype.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="reqtype"{% if reqform.rectype.errors %} class="error" {% endif %}>Requirement Type</label>
              </p>
              <p>{{ reqform.reqtype }}</p>
            </div>          
            
            <div>
              {% if reqform.description.errors %}
                {% for error in reqform.description.errors %} 
                    <p class="error"> 
                        {{ error }}
                    </p>
                {% endfor %} 
              {% endif %}
              <p>
                <label for="description"{% if reqform.description.errors %} class="error" {% endif %}>Description</label>
              </p>
              <p>{{ reqform.description }}</p>
            </div>
          
          <br/>      
          <div class="actions">
            <button name="cancel" type="submit" value="Cancel" class="btn btn-block">Cancel</button>
            <button type="submit" name="reqform" class="btn btn-primary btn-block">Save changes</button>
          </div>
          
      </form>
    </div>
  </div>
    
{% endblock %}
