{% extends "site/two_column_page.html" %}
    
    {% block page_column_one %}
        <p class="justify">
        The CIM Experiment Manager is a tool to edit CIM experiment 
        documents. The CIM, or 'Common Information Model' is a standard for 
        the documentation of Climate modelling workflow. 
        </p>
    {% endblock %}
    
    {% block page_column_two %}
        <div class="row">
          {% if user.is_authenticated %}
            <br/>
            <a href="{{ urls.explist }}" class="btn btn-primary btn-block"><strong>Continue to account</strong></a>
          {% else %}
            <br/>  
            <a href="{{ urls.login }}" class="btn btn-primary btn-block"><strong>Login</strong></a>
          {% endif %}           
        </div>
    {% endblock %}

