{% extends "site/one_column_page.html" %}

{% block page_column_one %}

  {% include 'page/pagemenu.html' %}
  
  <div class="page-header">
    <h3>Requirements <small>Table of current numerical requirements</small></h3>
  </div>
              
  <div class="row">
    <div class="span10 offset1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Doc ID</th>
            <th>Type</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
          </tr>
        </thead>              
        <tbody>
          {% for req in allreqs %}
            <tr>
              <td>{{ req.name }}</td>
              <td>{{ req.docid }}</td>
              <td>{{ req.reqtype }}</td>
              <td>{{ req.created }}</td>
              <td>{{ req.updated }}</td>
              <td><a href="{{ req.url }}"><i class="icon-search" title="View"></i></a></td>
              <td><a href="{{ req.delurl }}"><i class="icon-trash" title="Delete"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  <div class="row">  
    <div class="span2 offset9">
      <a class="btn btn-primary btn-block" href="{{ urls.reqadd }}">Add New</a>
    </div>
  </div>
    
{% endblock %}   


{% block extrajs %}

  <!-- js to check delete action -->
  <script>
    $('#myModal').modal(options)
  </script>

  <script type="text/javascript">
    $(function() {
      $(".ask").jConfirmAction();
    });
  </script>
  <!-- end of js to check delete action -->

{% endblock %}
